PUPPETEER_SKIP_CHROMIUM_DOWNLOAD = true
PUPPETEER_EXECUTABLE_PATH = /usr/bin/google-chrome-stable
MONGODB_URI = your MONGODB_URI
DEFAULT_LANGUAGE = default language to be translated to
BOT_NUMBER = 918051xxxxxx
OWNER_NUMBER = 917437xxxxxx
