PUPPETEER_SKIP_CHROMIUM_DOWNLOAD = true
PUPPETEER_EXECUTABLE_PATH = /usr/bin/google-chrome-stable
MONGODB_URI = your MONGODB_URI
DEFAULT_LANGUAGE = default language to be translated to in .tr command
BOT_NUMBER = 918051xxxxxx
OWNER_NUMBER = 917437xxxxxx
NUMVERIFY_KEY = 13e4e196a58f64646251999692b9d006
DEPLOY_HOOK = 
